body {
    margin: 0px;
}

.header {
    background-color: black;
    display: grid;
    font-family: 'Raleway', sans-serif;
    grid-template-columns: 2fr;
    padding-bottom: 27px;
}

.header > .explore {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    display: flex;
    font-size: larger;
    color: gold;
    margin-left: 214px;
    margin-top: 17px;
}

.header > .center-column > .post-explore {
    display: flex;
    font-family: 'Raleway', sans-serif;
    margin-left: 30px;
    color: aliceblue;
    align-items: center;
}

.header > .center-column > .post-explore a {
    display: flex;
    font-family: 'Raleway', sans-serif;
    margin-left: 30px;
    color: aliceblue;
    align-items: center;
    text-decoration: none;
    margin-left: 5px;
    font-weight: 600;
}

.center-column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.center-column img {
    width: 180px;
    display: flex;
    justify-content: left;
}

.header > .center-column > .post-explore > .right-column {
    display: flex;
    font-family: 'Raleway', sans-serif;
    justify-content: right;
    width: 850px;
    align-items: center;
}

.header > .center-column > .post-explore > .right-column > .nav-link {
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
}

.header > .center-column > .post-explore > .right-column > .nav-link > .log-in {
    display: flex;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    list-style-type: square;
    background: grey;
    border-radius: 7px;
    padding: 20px 7px 21px 16px;
    width: 80px;
    font-size: x-large;
}


.header > .center-column > .post-explore > .right-column > .nav-link > .sing-up {
    display: flex;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    list-style-type: square;
    background: grey;
    border-radius: 7px;
    padding: 20px 7px 21px 16px;
    width: 103px;
    font-size: x-large;
}

.header > .center-column > .post-explore > .right-column i {
    align-items: center;
    font-size: x-large;
    margin: 0px 16px;
}


.header > .center-column > .post-explore > .right-column > .nav-link > .create {
    align-items: center;
    list-style-type: square;
    background: grey;
    border-radius: 7px;
    padding: 20px 3px 21px 18px;
    font-size: x-large;
}

.header > .center-column > .post-explore > .sparks {
    margin-left: 10px;
    width: 77px;
    font-family: 'Raleway', sans-serif;
}

.middle-section-page > .center-page {
    position: absolute;
    right: -11px;
    top: 117px;
    height: 900px;
    width: 1906px;
    margin: 11px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgb(92, 94, 98) , black);
}

.middle-section-page > .left-text-b {
     color: white; 
     font-family: 'Raleway', sans-serif; 
     position: absolute; 
     left: 50px;
     top: 200px;
     font-size: 45px; 
    }

.middle-section-page > .left-text-b {
    color: gainsboro; 
    font-family: 'Raleway', sans-serif; 
    position: absolute; 
    left: 35px; 
    top: 220px; 
    font-size: 40px; 
}

.middle-section-page > .left-text {
    color: gainsboro;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 35px;
    top: 400px;
    font-size: 35px;
}

.middle-section-page > .code-picture img {
    display: flex;
    position: absolute;
    left: 743px;
    bottom: -223px;
    width: 950px;
    height: 640px; 
}

.middle-section-page > .sentence {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 752px;
    bottom: -203px;
    width: 950px;
    height: 650px; 
}

.middle-section-page > .sentence-code {
    color: rgba(0, 200, 255, 0.911);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 823px;
    bottom: -203px;
    width: 950px;
    height: 650px;
}


.middle-section-page > .exclamation {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 997px;
    bottom: -203px;
    width: 950px;
    height: 650px;
}

.middle-section-page > .buttons > .sign-up-button {
    color: black;
    position: absolute;
    left: 35px;
    top: 570px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 1px;
    background-color:#00c274;
    padding: 23px 23px;
    width: 290px;
    border-radius: 5px;
}

.middle-section-page > .buttons > .learn-more-button {
    color: rgb(255, 255, 255);
    position: absolute;
    left: 395px;
    top: 570px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 1px;
    background-color: black;
    padding: 23px 23px;
    width: 225px;
    border-radius: 5px;
}

.bottom > .footer-teams {
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: thin;
    border-color: gainsboro;
    background-color: gray;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 0px;
    top: 865px;
    width: 345px;
    height: 70px;
}

.bottom > .footer-education {
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid; 
    border-width: thin; 
    border-color:gainsboro;
    background-color: gray;
    font-size: 1em; 
    font-weight: bold; 
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 335px;
    top: 865px;
    width: 425px;
    height: 70px;
}

.bottom > .footer-privacy {
     color: white;
     border-top-style: solid;
     border-bottom-style: solid;
     border-right-style: solid;
     border-left-style: solid;
     border-width: thin;
     border-color:gainsboro;
     background-color:gray;
     font-size: 1em;
     font-weight: bold;
     font-family: 'Raleway', sans-serif;
     position: absolute;
     left: 762px;
     top: 865px;
     width: 350px;
     height: 70px;
    }

.bottom > .footer-writing {
    color: white;
    border-top-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: thin;
    border-color: gainsboro;
    background-color:gray;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 1114px;
    top: 865px;
    width: 335px;
    height: 70px;
}

.bottom > .codepen-team {
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 35px;
    top: 890px;
    width: 500px;
    height: 70px; 
}

.bottom > .codepen-teams {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 165px;
    top: 880px;
    width: 500px;
    height: 70px;
}

.bottom > .codepen-education {
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 370px;
    top: 890px;
    width: 325px;
    height: 70px; 
}

.bottom > .education {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 510px;
    top: 880px;
    width: 335px;
    height: 70px; 
}

.bottom > .codepen-privacy {
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 800px;
    top: 890px;
    width: 500px;
    height: 70px;
}

.bottom > .privacy {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 935px;
    top: 880px;
    width: 500px;
    height: 70px;
}

.bottom > .codepen-writing {
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 1135px;
    top: 890px;
    width: 500px;
    height: 70px;
}

.bottom > .writing {
    color: white;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    left: 1270px;
    top: 880px;
    width: 500px;
    height: 70px;
}